<html>
  <title>Error</title>
  <meta http-equiv="refresh" content="5; URL=/urls">
  <body>
    <div>
      <h1>Error: <%= code %></h1>
      <img src="/img/error.png" width="300px">
      <p>Something went wrong!!</p>
      <p><%= message %></p>
      <a href="/urls/">Click here to go back</a>
    </div>
  </body>
</html>